@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Metropolis";
    src: url("../../public/fonts/metropolis/Metropolis-Black.otf")
        format("opentype");
    /* font-weight: 300;
    font-style: normal; */
}

@font-face {
    font-family: "Metropolis";
    src: url("../../public/fonts/metropolis/Metropolis-Regular.otf")
        format("opentype");
    font-weight: 400;
    font-style: regular;
}

@font-face {
    font-family: "Metropolis";
    src: url("../../public/fonts/metropolis/Metropolis-Bold.otf")
        format("opentype");
    /* font-weight: 400;
    font-style: normal; */
}

@font-face {
    font-family: "Metropolis";
    src: url("../../public/fonts/metropolis/Metropolis-Medium.otf")
        format("opentype");
    /* font-weight: 400;
    font-style: italic; */
}

@font-face {
    font-family: "Metropolis";
    src: url("../../public/fonts/metropolis/Metropolis-SemiBold.otf")
        format("opentype");
    /* font-weight: 600;
    font-style: normal; */
}

@font-face {
    font-family: "Gilroy";
    src: url("../../public/fonts/gilroy/Gilroy-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../../public/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: regular;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../../public/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../../public/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: semibold;
}

@font-face {
    font-family: "Gilroy";
    src: url("../../public/fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Proxima-Nova";
    src: url("../../public/fonts/proxima-nova/Fontspring-DEMO-proximanovaexcn-regular.otf")
        format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Proxima-Nova-Proxima-Nova-Extrabold";
    src: url("../../public/fonts/proxima-nova/Fontspring-DEMO-proximanova-extrabold.otf")
        format("opentype");
    font-weight: 800;
    font-style: extrabold;
}

@font-face {
    font-family: "Century";
    src: url("../../public/fonts/centurygothic/centurygothic.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Century";
    src: url("../../public/fonts/centurygothic/centurygothic_bold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: "Johnstown-Demo";
    src: url("../../public/fonts/johnstown-demo/JohnstownDemoRegular.ttf")
        format("truetype");
    font-weight: 200;
    font-style: regualar;
}

@layer base {
    :root {
        --font-metropolis: "Metropolis", sans-serif;
        --font-gilroy: "Gilroy", sans-serif;
        --font-gilroy-medium: "Gilroy-Mediun", sans-serif;
        --font-gilroy-bold: "Gilroy-Bold", sans-serif;
        --font-gilroy-regular: "Gilroy-Regular", sans-serif;
        --font-proxima-nova: "Proxima-Nova", sans-serif;
        --font-proxima-nova-extrabold: "Proxima-Nova-Extrabold", sans-serif;
        --font-century-gothic: "Century", sans-serif;
        --font-johnstown: "Johnstown-Demo", sans-serif;
    }
}

body,
p,
header,
div,
h1,
h2,
h3,
h4,
h5,
h6 section,
button,
table,
caption,
thead,
tr,
tbody,
figure,
labe,
ul,
input,
fieldset,
legend {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000;
}
