@tailwind base;
@tailwind components;
@tailwind utilities;

body,
p,
header,
div,
h1,
h2,
h3,
h4,
h5,
h6 section,
button,
table,
caption,
thead,
tr,
tbody,
figure,
labe,
ul,
input,
fieldset,
legend {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #000;
}
